body {
  background-color: #a3a3a3;
  /** body에 배경이미지 적용 */
  background-image: url("../static/images/pattern.png");
  /** 고정된 사이즈로 설정 */
  background-size: 100px;

  /** 기본 body 사이즈를 화면 크기로 고정 */
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.bookcover {
  /** 배경 색깔 지정  */
  background-color: #b4d1da;
  /** 모서리 둥글게 */
  border-radius: 9px;
  /** 윤곽선 */
  border: 1px solid #738186;

  /** 기본 너비, 높이 지정 (반응형 X) */
  width: 960px;
  height: 660px;

  /** 좌우 마진을 auto(중앙에 배치), 상하 마진을 100px로 지정 */
  margin: 100px auto;

  /** .bookdot 요소에서 absolute 속성값을 이용하기 위해 position: relative 로 설정 */
  position: relative;}
.page{background-color: rgb(209, 202, 202); width:885px; height:595px; position:absolute;
top:1.5%; left:1.2%; border-radius:10px; display:flex; padding:15px}
 
.bookdot{border-radius:9px; border:dashed white; position:absolute; width:940px;
height:640px; top:10px; left:10px;}

.left-container{flex:0.35; display:flex; flex-direction:column; margin-right:22px}

.left-container span{color:pink}

.left-title{font-size:12px; text-align:center; padding:10px 0px}
 
.left-box{background:white; border:1px solid#cdcdcd; border-radius:10px; width:195px; height:485px}

.middle-box{background:white; border:1px solid#cdcdcd; border-radius:10px; width:495px; height:485px}

.middle-title{display:flex; font-size:bold; padding:9px 0px}

.right-container{display:flex; flex:0.15; flex-direction:column; border:1px solid rgb(165,165,165)}
 
.news{display: flex; margin-left: 5%; margin-top:5% ; color: green;}

.news1{display: flex; margin-left: 5%; margin-top:5% ; color: green;}